<% layout("/layouts/boilerplate") -%>
<body>
    <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1">
    <% for(let listing of allListings) { %>
    <a href="/listings/<%= listing.id %>"  class="listing-link">
    <div class="card " style="width: 20rem;">
        <img style="height: 20rem;" class="card-img-top" src="<%= listing.image.url %>" alt="listing_image">
        <div class="card-body"> 
          <p class="card-text">
           <b> <%=listing.title%></b> <br>
            &#8377; <%= listing.price.toLocaleString("en-IN") %>
          </p>
        </div>
      </div>
    </a>
      <% } %>
    </div>

</body>


